.wrapper {
  background-image: linear-gradient(
    to right top,
    #fcf7ec,
    #f7f0e0,
    #f1e8d4,
    #ece1c9,
    #e6dabd
  );
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 100px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
